.nav-link:hover {
    position: relative;
    cursor: pointer;
    z-index: 500;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: all 0.5s;
    z-index: 500;
  }
  .nav-link:hover:after {
    content: "";
    width: 100%;
    display: block;
    left: 0;
    position: absolute;
    bottom: -3px;
    height: 2px;
    background-color: #000000;
    transition: all 0.5s;
    z-index: 500;
  }
  .nav-sublink:hover {
    background-color: rgb(207, 207, 207);
  }
  .hero-btn:hover,
  .about-btn:hover {
    color: var(--color-green);
    background-color: transparent;
    border: 1px solid var(--color-green);
    transition: all 0.5s;
  }
  .black-btn:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
  }
  